.track-seed {
    position: relative;
    display: inline-block;
}

#artist-suggestions-list {
    width: inherit;
    position: absolute;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    border-radius: 2px;
    max-height: 200px;
    overflow-y: auto;
    position: relative;
}

.artist-suggestion-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fff; /* Set the background color for each suggestion item */
    border: 1px solid #ccc; /* Set the border for each suggestion item */
}

.artist-suggestion-image {
    width: 24px; /* Set the desired width for the image */
    height: 24px; /* Set the desired height for the image */
    margin-right: 8px; /* Adjust spacing between image and text */
}

.artist-suggestion-item:hover {
    background-color: #1db954;
    color: #fff;
}

.artist-filter {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
    box-sizing: border-box;
    min-height: 36px;
    font-size: 16px;
    width: 100%;
}

.recommended-artist-container {
    border-radius: 4px;
    margin-top: 10px;
}

.artist-suggestion-info {
    display: flex;
    flex-direction: column;
}

.artist-suggestion-title {
    font-size: 15px;
}

.artist-suggestion-artists {
    font-size: 10px;
    color: grey;
}

.selected-artist-suggestion:hover {
    background-color: #fff;
    color: #1db954;
}

#selected-artist-suggestion-container {
    margin-top: 10px;
}

.selected-artist-suggestion {
    background-color: #1db954;
    border: 1px solid #1db954;
    border-radius: 20px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #fff;
}

.selected-artist-suggestion-text {
    margin-right: 5px;
}

.remove-selected-artist-suggestion {
    cursor: pointer;
    font-size: 15px;
}
