body {
    position: relative;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: block;
}

.content {
    padding: 80px 2em 0 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    float: left;
    position: fixed;
    border-right:1px solid #bbb;
    display: flex;
    justify-content: space-between;
}

.navigation-bar-item:last-child {
    border-right: none;
}

.navigation-bar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navigation-bar-item a:hover:not(.active) {
    background-color: #111;
}

.menu-items {
    display: flex;
}

.menu-items > img {
    object-fit: contain;
    width: 100px;
    text-align: center;
    margin: 0 1em;
}
  
.active {
    background-color: #1DB954;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

h1 {
    color: #1DB954;
}

.user-profile {
    width: 45%;
}

.popular-artists {
    width: 45%;
}

.popular-tracks {
    width: 100%;
}

.artis-image {
    width: 50px;
    height: 50px;
}

.user-info {
    list-style-type: none;
    padding: 0;
    width: 400px;
}
.list-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.list-item > span {
    width: 50%;
}
.artis-image {
    margin-left: 20px;
}

.artist-name {
    margin-left: 40px;
}

.artist-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color:#333;
}

.artist-item:hover {
    transform: scale(1.03);
}

.profile-button {
    background-color: #1db954;
    color: #fff;
    cursor: pointer;
    padding: 12px 28px;
    border-radius: 4px;
    border: 2px solid #1db954;
    font-size: 16px;
}
.track-image {
    margin-left: 20px;
}

.track-title {
    margin-left: 40px;
    width:500px
}

.track-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    color:#333;
}

.track-image {
    width: 50px;
    height: 50px;
}

.track-item:hover {
    transform: scale(1.03);
}
